multitenancy_enabled: false
target: all
server:
    http_listen_port: 9009
    grpc_listen_port: 9097
    log_level: warn
blocks_storage:
    backend: filesystem
    filesystem:
        dir: /var/lib/mimir/blocks
    tsdb:
        dir: /var/lib/mimir/tsdb
compactor:
    data_dir: /var/lib/mimir/compactor
    sharding_ring:
        kvstore:
            store: inmemory
distributor:
    ring:
        kvstore:
            store: inmemory
ingester:
    ring:
        kvstore:
            store: inmemory
        replication_factor: 1
store_gateway:
    sharding_ring:
        kvstore:
            store: inmemory
        replication_factor: 1
ruler_storage:
    backend: filesystem
    filesystem:
        dir: /var/lib/mimir/rules

ruler:
    ring:
        kvstore:
            store: inmemory
