server:
    http_listen_port: 3200
    grpc_listen_port: 9095

distributor:
    receivers:
        otlp:
            protocols:
                grpc:
                    endpoint: 127.0.0.1:4318

storage:
    trace:
        backend: local
        local:
            path: /var/lib/tempo/traces
